.algo-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.algo-navbar-button {
    border: none;
    margin: 5px;
    width: 100px;
    height: 40px;
    background-color: #6e9196;
    border-radius: 3px;
    transition: box-shadow 0.3s ease-in-out;
}
  
.algo-navbar-button:hover {
    -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,0.75);
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
}