.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.algo-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.algo-navbar-button {
  border: none;
  margin: 5px;
  width: 100px;
  height: 40px;
  background-color: #6e9196;
  border-radius: 3px;
  transition: box-shadow 0.3s ease-in-out;
}

.algo-navbar-button:hover {
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;
}

.algo-viz-content {
  height: 100vh;
  background-color: #6e9196;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.algo-viz-content-unsorted {
  height: 100vh;
  background-color: #6e9196;
  display: flex;
  flex: 1 1 50%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  border-right: 1px solid black;
}

.algo-viz-content-sorted {
  height: 100vh;
  background-color: #6e9196;
  display: flex;
  flex: 1 1 50%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.algo-viz-column-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.algo-viz-column {
  width: 50px;
  margin: 5px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.algo-column-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.algo-viz-square {
  height: 40px;
  width: 40px;
  margin: 5px;
  border: 1px solid black;
  background-color: #6e9196;
  animation: glowingButton 2000ms normal;
}

.App-link {
  color: #09d3ac;
}

@keyframes glowingButton {
  0% { box-shadow: 0 0 -5px white; }
  40% { box-shadow: 0 0 10px white; }
  60% { box-shadow: 0 0 10px white; }
  100% { box-shadow: 0 0 -5px white; }
}
